#home {
    text-align: center;
    font-family: arial;
}
#home2 {
    text-align: center;
    font-family: monospace;
    font-size: 20px;
}

#grr {

    background: linear-gradient(indigo,magenta, purple);
    padding: 6px;
    color: white;
    font-family: monospace;
}

#img1 {
    border: black 5px solid;
}

/* Gaya untuk kontainer menu utama */
.menu ul {
    list-style-type: none; /* Buang bullet points */
    margin: 0;
    padding: 0;
    background-color: indigo;
    display: flex; /* Susun item secara horizontal */
    font-family: arial;
}



/* Gaya untuk teks pautan (Anchor Link) */
.menu li a {
    display: block; /* Menjadikan seluruh kawasan kotak boleh diklik */
    color: #ffffff; /* Warna teks (Putih) */
    text-align: center;
    padding: 14px 20px; /* Jarak atas/bawah (14px) dan kiri/kanan (20px) */
    text-decoration: none; /* Buang garisan bawah teks */
    transition: background-color 0.3s ease; /* Kesan animasi lancar semasa hover */
}

/* Kesan apabila tetikus berada di atas pautan (Hover Effect) */
.menu li a:hover {
    background-color: wheat;
    color: black;
}





